.sidebar{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-color: #5469C9;
    padding: 2rem 1rem;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    /* overflow-y: scroll; */

}


::-webkit-scrollbar {
    width: 12px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000; 
    /* border-radius: 10px; */
  }
   
    ::-webkit-scrollbar-thumb {
    background: #333f79; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333f79; 
  }
.sidebar span{
    width: 100%;
    height: 1px;
    background-color: #ddd9d9;
    margin: 1rem 0;
}

.sidebar h2{
    margin-bottom: 1.5rem;    
}
.sidebar img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}
.sidebar p{
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
}
.social__icons{
    width: 80%;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    cursor: pointer;

}
.social__icon{
    color: #ffffff;
}
.social__icon:hover{
    color: #e9e8e8;
}
.navbar{
    display: flex;
    flex-direction: column;

}
.switch__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.switch__container h2{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}


input[type="checkbox"] {
	visibility: hidden;
}
input:checked + label {
    /* transform: rotate(360deg); */
    background-color: #000;

}
input:checked + label::before{
    transform: translateX(25px);
	background-color: #FFF;

}

label {
	display: flex;
	width: 50px;
	height: 25px;
	border: 1px solid;
	border-radius: 99em;
	position: relative;
	transition: transform .5s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
}

label::before{
    transition: transform .5s ease;
	transition-delay: .5s;
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #ffffff;
	border-radius: 50%;
	/* top: 50px; */
	/* left: 50px; */

}

.Link{
    text-decoration: none;
}